<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script data-require="angular.js@1.2.25" data-semver="1.2.25" src="https://code.angularjs.org/1.2.25/angular.js"></script>
    <!--link rel="stylesheet" href="style.css" /-->
    <script src="script.js"></script>
    <script src=smart-table.debug.js></script>
  </head>

  <body ng-controller="mainCtrl">
    <table st-table="displayed" class="table table-striped">
	<thead>
	<tr>
		<th ng-ratio="10">first name</th>
		<th>schedule</th>
		<th>nested</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in displayed">
	  <td ng-ratio="10">{{row.firstName}}</td>
	  <td>
      <div ng-if="row.expanded" ng-click="row.expanded = rowExpand(false)">Schedule&nbsp;</div>
      <div ng-if="!row.expanded" ng-click="row.expanded = rowExpand(true)">Schedule&nbsp;</div>
    </td>
		<td>
		  <table st-table="displayed" class="table table-striped">
		    <tbody ng-if="row.expanded">
		      <tr>
		        <th></th>
		        <th>Mon</th>
		        <th>Tue</th>
		        <th>Wed</th>
		        <th>Thur</th>		          
		        <th>Fri</th>		          
	        </tr>
	        <tr ng-repeat="item in others" contentEditable="true">
	          <td>{{item.timestamp}}</td>
		        <td>{{item.monday}}</td>
		        <td>{{item.tuesday}}</td>
		        <td>{{item.wednesday}}</td>
		        <td>{{item.thursday}}</td>
		        <td>{{item.friday}}</td>
		      </tr>
		      </tbody>
		  </table>
		</td>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td colspan="5" class="text-center">
			<div  st-items-by-page="20" st-pagination=""></div>
		</td>
	</tr>
	</tfoot>
</table>

  </body>

</html>